.hero {
    margin-top: 280px;
    padding: 0rem 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .h_sides {
        display: grid;
        grid-template-rows: 1fr 1fr;

        .text1 {
            text-transform: uppercase;
            font-size: 1.5rem;
            width: min-content;
            display: block;
            font-weight: 600;
            color: #008000;
        }

        .text2 {
            display: flex;
            flex-direction: column;
            width: min-content;
            color: #008000;
        }

        .text2>:first-child {
            font-weight: 800;
            font-size: 2.5rem;
        }

        .text2>:nth-child(2) {
            display: block;
        }

        .traffic {
            display: flex;
            flex-direction: column;
            text-align: right;
            color: #008000;
        }

        .traffic>:first-child {
            font-weight: 800;
            font-size: 2.5rem;
        }

        .customers {
            display: flex;
            flex-direction: column;
            text-align: right;
            color: #008000;
        }

        .customers>:first-child {
            font-weight: 800;
            font-size: 2.5rem;
        }
    }

    .wrapper {
        display: flex;
        align-items: baseline;
        justify-content: center;
        position: relative;

        .greenCircle {
            width: 35rem;
            height: 35rem;
            border-radius: 50%;
            z-index: -99;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to right, #000000, #0f9b0f);
        }

        img {
           width: 30rem;
           position: absolute;
           bottom: 0; 
        }

        .cart2 {
            position: absolute;
            bottom: 25%;
            right: 5%;
            display: flex;
            gap: 1rem;
            align-items: center;
        }

        .cart2>svg {
            width: 30px;
            height: 30px;
            background: greenyellow;
            padding: 10px;
            border-radius: 50%;
            border: 6px solid #000;
        }

        .shopnow {
            display: flex;
            gap: 1rem;
            align-items: center;
            background: greenyellow;
            padding: 10px;
            border-radius: 15px;
            box-shadow: green;

            button {
               background: greenyellow; 
               border: transparent;
               font-size: 1rem;
            }
        }

        .shopnow>:first-child {
            display: block;
            width: 6rem;
        }

        .shopnow>:nth-child(2) {
            border-radius: 50%;
            border: 1px solid green;
            display: flex;
            width: 20px;
            height: 20px;
            padding: 5px;
            align-items: center;
            justify-content: center;
        }
    }
}