.login {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 360px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: gray;
      margin-bottom: 20px;
      text-align: center;
      font-size: 60px;
    }

    label {
      color: gray;
      font-size: 18px;
    }

    input,
    textarea {
      padding: 10px;
      border: 1px solid rgb(216, 214, 214);
      width: 94%;
      height: 25px;
      border-radius: 5px;
    }

    button {
      justify-content: center;
      align-items: center;
      border: none;
      padding: 10px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #1dbf73;
      cursor: pointer;
      width: 100%;
    }

    .error {
      color: red;
      font-size: 12px;
    }

    .error-message {
      color: red;
      text-align: center;
    }
  }
}
